@import "../constants";

$analytics-container-margin-top: 70px;
$message-text-font-size: 60px;
$analytics-result-margin-top: 30px;
$analytics-result-font-size: 25px;

$total-hits-number-font-size: 40px;
$text-metadata-font-size: 30px;
$text-metadata-margin-bottom: 20px;

$graph-row-margin-top: 10px;
$graph-row-font-size: 20px;

$graph-object-background-color: $untouched-color;
$graph-object-padding-right: 5px;
$graph-object-text-color: white;
$graph-object-key-left: 550px;
$graph-object-position-left: 300px;

$graph-container-width: 500px;

.analytics__container {
    width: 100%;
    text-align: center;
    margin-top: $analytics-container-margin-top;
    
    .message-text {
        color: $touched-important-color;
        font-size: $message-text-font-size;
    }

    .analytics-result__container {
        margin-top: $analytics-result-margin-top;
        font-size: $analytics-result-font-size;

        .analytics-criteria__container {
            margin-top: $analytics-result-margin-top;
        }

        .text-metadata {
            font-size: $text-metadata-font-size;
            margin-bottom: $text-metadata-margin-bottom;
        }

        .number {
            font-size: $total-hits-number-font-size;
        }

        .graph__container {
            width: $graph-container-width;
        }

        .graph-row {
            margin-top: $graph-row-margin-top;
            margin-left: auto;
            margin-right: auto;
            font-size: $graph-row-font-size;
            width: $graph-container-width;
        }

        .graph-object {
            background-color: $graph-object-background-color;
            text-align: right;
            padding-right: $graph-object-padding-right;
            color: $graph-object-text-color;
            position: relative;
            left: $graph-object-position-left;
        }

        .graph-object-key {
            position: absolute;
            left: $graph-object-key-left;
        }
    }
}